@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    
}
/* navbar */
nav {
  padding-bottom: 30px;
}


/* Customize offcanvas width */
@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of Navbar */
    bottom: 0;
    right: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #f8f9fa;
    transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
    transform: translateX(100%);
  }
  .offcanvas-collapse.show {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}


/* hero section */


.hero {
    background: -moz-linear-gradient(45deg, #02e1ba 0%, #26c9f2 29%, #d911f2 66%, #ffa079 100%);
    background: -webkit-linear-gradient(45deg, #02e1ba 0%,#26c9f2 29%,#d911f2 66%,#ffa079 100%);
    background: linear-gradient(45deg, #02e1ba 0%,#26c9f2 29%,#d911f2 66%,#ffa079 100%);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	/*min-height: calc(100vh - 2rem);*/
	display: flex;
	flex-direction: column;
	align-items: stretch;
	overflow: hidden;
	position: relative; 
  padding-top: 90px;
  padding-bottom: 25px;
  
}

.hero ::before, 
.hero ::after {
	content: "";
	width: 70vmax;
	height: 70vmax;
	position: absolute;
	background: rgba(255, 255, 255, 0.07);
	left: -20vmin;
	top: -20vmin;
	animation: morph 15s linear infinite alternate, spin 20s linear infinite;
	z-index: 1;
	will-change: border-radius, transform;
	transform-origin: 55% 55%;
	pointer-events: none; 
}
	
.hero ::after {
    width: 70vmin;
    height: 70vmin;
    left: auto;
    right: -10vmin;
    top: auto;
    bottom: 0;
    animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
    transform-origin: 20% 20%; 
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; }
  100% {
    border-radius: 40% 60%; } 
}

@keyframes spin {
  to {
    transform: rotate(1turn); 
  } 
}
	.st0{display:none;}
	.st1{display:inline;}
	.st2{opacity:0.29;}
	.st3{fill:#FFFFFF;}
	.st4{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
	.st5{clip-path:url(#SVGID_4_);}
	.st6{clip-path:url(#SVGID_6_);}
	.st7{clip-path:url(#SVGID_8_);}
	.st8{clip-path:url(#SVGID_10_);}
	.st9{fill:none;}
	.st10{clip-path:url(#SVGID_12_);}
	.st11{opacity:0.7;}
	.st12{clip-path:url(#SVGID_14_);}
	.st13{opacity:0.2;}
	.st14{clip-path:url(#SVGID_16_);}
	.st15{opacity:0.3;fill:#FFFFFF;enable-background:new    ;}



.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
padding-right: 20px;
  padding-left: 70px;
}

.hero-text {
  flex: 1;
  max-width: 600px;
  color: white;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image svg {
  max-width: 800px;
  max-height: 400px;
}
/* hero section for mobile */
@media (max-width: 768px) {
.hero-text {
padding: 0 20px;
text-align: center;

}
.hero-container {
  
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}


.hero-image {
height: auto;
max-width: 50%;
justify-content: center;
align-items: center;
}

.hero-image svg {
max-width: 100%;
max-height: 400px;
}

}










/* about Section*/

.about-section h2 {
font-size: 32px;
font-weight: bold;
color: #333;
margin-bottom: 20px;
}

.about-section p {
font-size: 16px;
line-height: 1.5;
color: #666;
margin-bottom: 15px;
}

.about-section .btn-primary {
background-color: #ee505e;
border-color: #ee505e;
font-size: 16px;
font-weight: bold;
text-transform: uppercase;
padding: 10px 20px;
}

.about-section .btn-primary:hover {
background-color: #d13b45;
border-color: #d13b45;
}

.about-section img {
border-radius: 5px;
}
/* Features Section for mobile*/
@media (min-width: 768px) {
.about-section {
padding: 100px 0;
}

.about-section h2 {
font-size: 42px;
margin-bottom: 30px;
}

.about-section p {
font-size: 18px;
margin-bottom: 20px;
}

.about-section .btn-primary {
font-size: 18px;
padding: 15px 30px;
}
}
/* Features Section*/
.features-section {
  padding: 80px 0;
}

.feature-box {
  background-color: #fff;
  border-radius: 5px;
  padding: 40px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.feature-icon {
  font-size: 48px;
  color: #ee505e;
  margin-bottom: 20px;
}

.feature-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  
}

.feature-desc {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
  color: black;
}


@media (max-width: 991px) {
  .feature-box {
    margin-bottom: 30px;
  }
}


/* Count section*/
.counter {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.counter-item {
  text-align: center;
}

.counter-item h3 {
  font-size: 3rem;
  color: black;
  margin-bottom: 0;
}

.counter-item p {
  font-size: 1rem;
  color: black;
  margin-top: 0;
}


/* Investment plan section section*/

.investment-plan {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.investment-plan h2 {
  text-align: center;
  margin-bottom: 30px;
   color: black;
}

.plan-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  justify-items: center;
}

.plan {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px;
}

.plan-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.plan-header h3 {
  font-size: 24px;
   color: black;
}

.plan-price {
  font-size: 36px;
}

.plan-features {
  margin-bottom: 20px;
}

.plan-features li {
  font-size: 18px;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #0062cc;
}



/*Affiliate section*/
#affiliate {
  background-color: #f9f9f9;
  padding: 80px 0;
}

#affiliate h2 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 30px;
}

#affiliate p {
  font-size: 24px;
  text-align: center;
  margin-bottom: 60px;
}

#affiliate form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
}

#affiliate form label {
  font-size: 18px;
}

#affiliate form input[type="text"],
#affiliate form input[type="email"] {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  margin-bottom: 20px;
}

#affiliate form input[type="text"]:focus,
#affiliate form input[type="email"]:focus {
  outline: none;
  box-shadow: 0px 0px 8px #c8d7e1;
}

#affiliate form input[type="text"][readonly] {
  background-color: #e9ecef;
}

#affiliate form button[type="submit"] {
  background-color: #1b88c5;
  border: none;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 4px;
}

#affiliate form button[type="submit"]:hover {
  background-color: #0e5e8c;
}

#affiliate ul {
  font-size: 18px;
  margin-top: 50px;
}

#affiliate ul li {
  margin-bottom: 10px;
}



/* Testimonial section*/
#testimonials {
  padding: 80px 0;
  background-color: #f5f5f5;
}

#testimonials h2 {
  text-align: center;
  margin-bottom: 50px;
}

.testimonial {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.testimonial img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.testimonial h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.testimonial span {
  font-size: 16px;
  color: #666;
}

.testimonial-text p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.testimonial-author {
  display: flex;
  align-items: center;
}





/* Call to action section*/
#cta {
  background-color: #f5f5f5;
  padding: 50px 0;
  text-align: center;
}

#cta h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

#cta p {
  font-size: 20px;
  margin-bottom: 30px;
}

#cta .btn-primary {
  background-color: #2f80ed;
  border-color: #2f80ed;
  padding: 14px 20px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

#cta .btn-primary:hover {
  background-color: #1b4ca6;
  border-color: #1b4ca6;
}



/*Trusted patner section*/
#partnership {
  background-color: #f5f5f5;
  padding: 80px 0;
}

#partnership h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

#partnership p {
  font-size: 20px;
  margin-bottom: 40px;
}

#partnership img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}




/* FAQS section*/
#faq {
  background-color: #f5f5f5;
  padding: 80px 0;
}

#faq h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: #292929;
  color: #fff;
}


.accordion-button::before {
    content: "+";
    display: inline-block;
    margin-right: 5px;
}
.accordion-button.collapsed::before {
    content: "\2193";
}

/* Hide plus sign on collapsed buttons */
.accordion-button.collapsed::after {
    display: none;
}


.accordion-header {
  background-color: #fff;
  border-radius: 15px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
}

.accordion-header:hover {
  cursor: pointer;
}

.accordion-header:focus {
  outline: none;
}

.accordion-body {
  background-color: #fff;
  border-radius: 15px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding: 15px;
}

@media only screen and (max-width: 767px) {
  #faq h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  
  .accordion-header {
    padding: 10px;
  }
  
  .accordion-body {
    padding: 10px;
  }
}


/* Footer section*/
footer {
  background-color: #222;
  color: #fff;
  padding: 40px 0;
}

footer h5 {
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

footer p {
  margin-bottom: 20px;
}

footer ul li {
  list-style: none;
  margin-bottom: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #00ff00;
  text-decoration: none;
}

.copy-right {
  background-color: #111;
  color: #fff;
  padding: 10px 0;
}

